

footer.container-fluid.col-md-10.center-block
  
  .contact 
    p 
      a(href="tel:7202958053" alt="7202958053") (720) 295-8053
      |  | 899 Logan St. Suite 204 | Denver, CO 80203
  
  .copy
    p &copy; 2016 Dialectic Healing &amp;    
      a(href="http://aleksandrantonov.com" alt="Designer Aleksandr Antonov") Aleksandr Antonov. 