

footer.container-fluid.col-md-10.center-block
 
  .copy
    .a3-logo
      a(href="http://aleksandrantonov.com" alt="A3 Web Solutions" target="_blank")
        img(src="/images/A3-logo.png" alt="A3 Web Solutions Logo")
    p &copy; 2016 Dialectic Healing

    p
      a(href="/contact" alt="Contact Us") Contact&nbsp;&bull;&nbsp;
      a(href="#" id="legal" alt="Appointments / Legal") Appointments / Legal
    
    div(class="fb-like" data-href="https://www.facebook.com/Dialectic-Healing-LLC-296642517107800/?ref=br_rs&amp;pnref=about.overview" data-width="12" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true")