header.container-fluid.col-md-10.center-block
  .nav-brand.center-block
    a(href="/" alt="Home")
      img(src="/images/DH-logo.png" alt="logo")
  .award
    a(href="https://www.opencare.com/" alt="patient choice" target="_blank")
      img(src="/images/patients-choice-winner-2015.png" alt="Patient Choice Award 2015")
  #navigation.navbar-collapse.navbar-center
    ul.nav.navbar-nav
      li
        a(class="animsition-link main-link" href="/") Home
      li
        a(class="animsition-link main-link" href="/services") Services
      li
        a(class="animsition-link main-link" href="/about") About
      li
        a(class="animsition-link main-link" href="/faq") F.A.Q 
      li
        a(class="animsition-link main-link" href="/contact" alt="Contact") Contact