header.container-fluid.col-md-10.center-block
  .nav-brand.center-block
    a(href="/" alt="Home")
      img(src="/images/client-logo-placeholder.png" alt="logo")
  #navigation.navbar-collapse.navbar-center
    ul.nav.navbar-nav
      li
        a(class="animsition-link main-link" href="/") Home
      li
        a(class="animsition-link main-link" href="/services") Services
      li
        a(class="animsition-link main-link" href="/about") About
      li.dropdown
        a(class="animsition-link main-link" href="/faq") F.A.Q 
          span(class="glyphicon glyphicon-triangle-bottom" aria-hidden="true") 
        ul.dropdown-menu
          li: a(class="animsition-link" href="/faq#massage") Benefits of Massage
          li: a(class="animsition-link" href="/faq#general") FAQ's Massage
          li: a(class="animsition-link" href="/faq#acupuncture") FAQ's Acupuncture
      li
        a(class="animsition-link main-link" href="/contact" alt="Contact") Contact