script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
script(src="https://use.fontawesome.com/9ebe793edb.js")
<!-- //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous") -->
script(async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCF-N67li13yxETx0fnF8f-JAztGoeWF0c&callback=initMap")
<!-- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js") -->
script(src="/javascripts/slick-carousel/slick/slick.js")
<!-- script(src="/javascripts/angular-slick/dist/slick.js") -->
script(src="/javascripts/myapp.js")
script(src="/javascripts/animsition/dist/js/animsition.min.js") 
script(src="/javascripts/slicknav/jquery.slicknav.min.js")
script(src="/javascripts/masonry-layout/dist/masonry.pkgd.min.js")
script(src="/javascripts/script.js")