.slick-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 0px !important;
	div{
		cursor:pointer;
	}
	.slick-dots{
	bottom:5px;
		li{
			margin: 0 8px;
			button:before{
			font-size: 10px;
			color: darken($secondary-khaki,15%);
			}
		}
	}
}

.slick-dots li.slick-active button:before {
	color: darken($secondary-khaki,30%) !important;
}
.intro{
min-height: 484px;
float:left;
width: 100%;
@include containerGradient();
}




.welcome{
	width: 100%;
	margin:3% auto;
	height: auto;
	text-align: center;
	@include homeHeader();
	
	h3{
		@include thinHeader();
		text-align: center;
		margin: 0 0 2%;
	}

	a{
		display: block;
		width: 30%;
		margin: 6% auto 0;
		h4{
			@include thinHeader();
			width: 100%;
			padding: 8%;
			background-color: lighten(tomato,25%);
			border: 1px solid darken(tomato,5%);
			border-radius: 25px;
			transition: all 0.5s ease;
		}

		&:hover h4{
			background-color: lighten(tomato,15%);
			color: $white;
			font-weight: 400;
		}

		&:hover, &:focus{
			text-decoration: none;
			color: #000000;
		}

		
	}

	.text-holder{
		width: 70%;
		margin: 0 auto;
		text-align: center;
		color: #000000;
		h4{
			font-family: $primary-font;
			font-weight: 300;
			line-height: 1.2;
			color: #000000;
		}
	}
}

.service-intro-holder{
	width: 100%;
	margin: 3% auto;
	height: auto;
	@include homeHeader();
	@include serviceBlock(150px);

}

.testimonials-holder{
	width: 100%;
	margin: 3% auto;
	height: auto;
	@include homeHeader();
		.grid{
			width: 90%;
			.grid-item{
				width: 48%;
				display: inline-block;
				background:none;
			}
			.index-testimonial{
				vertical-align: top;
			}
		}
}