extends layout

block content
	.about-wrapper
		.portrait-container
			img(src="/images/Jessica.jpg" alt="Jessica")
		.about-practitioner
			p Jessica Janowicz earned her Master of Acupuncture and Oriental Medicine degree from The Colorado School of Traditional Chinese Medicine in April 2014. This 28-month accelerated program consists of 2,265 hours of education, including 525 hours of clinical practice, and 150 hours of clinical observation. Additionally, Jessica received her massage therapy degree from The Denver School of Massage Therapy in December 2007. This program consisted of 820 hours of training and 120 hours of clinical internship. Jessica’s training includes adjunctive therapies such as moxibustion, massage, electro stimulation, cupping, auriculotherapy, and dietary and lifestyle recommendations. Her specialties include sports massage, structural bodywork, pain management, and injury rehabilitation with the incorporation of electrostimulation, auriculotherapy, and stretching.
			p In 2015, Jessica was certified as a Master of Science in Acupuncture (M.S.Ac.) by the National Certification Commission for Acupuncture and Oriental Medicine (NCCAOM), and a practitioner of Therapeutic Massage and Bodywork by the National Certification Board of Therapeutic Massage and Bodywork (NCBTMB). Jessica’s training also included certification in Clean Needle Technique. Jessica is a member of the Acupuncture Association of Colorado and the American Association of Oriental Medicine.  She is also certified to administer first aid and CPR. None of Jessica’s licenses, certificates, or registrations has ever been suspended or revoked.  


