extends layout

block content
		.faq-wrapper
			.initial-sections
				.button-block
					button(type="button" id="massage" class="faq-nav")
						h2 About Massage
					.section
						p Experts estimate that upwards of ninety percent of disease is stress-related. And perhaps nothing ages us faster, internally and externally, than high stress. The combined use of massage and acupuncture are effective tools for managing this stress, which translates into:
						
						ul
							li Decreased anxiety
							li Enhanced sleep quality
							li Greater energy
							li Improved concentration
							li Increased circulation
							li Reduced fatigue

						p Massage and acupuncture can also help specifically address a number of health issues. Bodywork can:

						ul
							li Alleviate low-back pain and improve range of motion.
							li Assist with shorter, easier labor for expectant mothers and shorten maternity hospital stays.
							li Ease medication dependence.
							li Exercise and stretch weak, tight, or atrophied muscles.
							li Help athletes of any level prepare for, and recover from, strenuous workouts.
							li Improve the condition of the body's largest organ—the skin.
							li Enhance immunity by stimulating lymph flow—the body's natural defense system.
							li Increase joint flexibility.
							li Lessen depression and anxiety.
							li Promote tissue regeneration, reducing scar tissue and stretch marks.
							li Pump oxygen and nutrients into tissues and vital organs, improving circulation.
							li Reduce postsurgery adhesions and swelling.
							li Reduce spasms and cramping.
							li Relax and soften injured, tired, and overused muscles.
							li Release endorphins—amino acids that work as the body's natural painkiller.
							li Relieve migraine pain

				.button-block
					button(type="button" id="general" class="faq-nav")
						h2 General Procedures
					.section
						strong Where will my massage or bodywork session take place 
						p Your massage or bodywork session will take place in a warm, comfortable, quiet room. Soft music may be played to help you relax. You will lie on a table especially designed for your comfort.

						strong Must I be completely undressed 
						p Most massage and bodywork techniques are traditionally performed with the client unclothed; however, it is entirely up to you what you want to wear. You should undress to your level of comfort. You will be properly draped during the entire session.

						strong Will the practitioner be present when I disrobe 
						p The practitioner will leave the room while you undress, relax onto the table, and cover yourself with a clean sheet or towel.

						strong Will I be covered during the session 
						p You will be properly draped at all times to keep you warm and comfortable. Only the area being worked on will be exposed. 

						strong What parts of my body will be massaged 
						p A typical full-body session will include work on your back, arms, legs, feet, hands, head, neck, and shoulders. 

						strong What will the massage or bodywork feel like
						p A relaxing Swedish massage is often a baseline for clients. In a general Swedish massage, your session may start with broad, flowing strokes that will help calm your nervous system and relax exterior muscle tension. As your body becomes relaxed, pressure will gradually be increased to relax specific areas and relieve areas of muscular tension. Often, a light oil or lotion is used to allow your muscles to be massaged without causing excessive friction to the skin. The oil also helps hydrate your skin. You should communicate immediately if you feel any discomfort so that another approach may be taken. Massage and bodywork are most effective when your body is not resisting.

						strong Are there different kinds of massage and bodywork 
						p There are numerous types of massage and bodywork; various techniques utilize different strokes, including basic rubbing strokes, rocking movement, posture and movement re-education, application of pressure to specific points, and more. We can discuss which methods may be most appropriate for you. 

						strong What should I do during the massage or bodywork session
						p Prior to the massage, feel free to ask the practitioner any questions about the technique or the upcoming session. During the massage, make yourself comfortable. The practitioner will either gently move you or tell you what is needed throughout the session (such as lifting your arm). Many people just close their eyes and completely relax, communicating if/when they need more or less pressure, another blanket, or anything else relevant to the session. If you have any questions regarding the session or about the particular technique you are receiving, feel free to ask. 

						strong How will I feel after the massage or bodywork session 
						p Most people feel very relaxed. Some experience freedom from long-term aches and pains developed from tension or repetitive activity. After an initial period of feeling slowed down, people often experience increased energy, heightened awareness, and greater productivity which can last for days.

						strong What are the benefits of massage and bodywork 
						p Massage and bodywork can help release chronic muscular tension and pain, improve circulation, increase joint flexibility, reduce mental and physical fatigue and stress, promote faster healing of injured muscular tissue, improve posture, and reduce blood pressure. Massage and bodywork is also known to promote better sleep, improve concentration, reduce anxiety and create an overall sense of well-being. 

						strong Are there any medical conditions that would make massage or bodywork inadvisable 
						p Yes. That's why it's imperative that, before you begin your session, the practitioner asks general health questions. It is very important that you inform the practitioner of any health problems or medications you are taking. If you are under a doctor's care, it is strongly advised that you receive a written recommendation for massage or bodywork prior to any session. Depending on the condition, approval from your doctor may be required.

				.button-block
					button(type="button" id="acupuncture" class="faq-nav")
						h2 About Acupuncture
					.section
						strong What is acupuncture all about

						p Traditional Chinese Medicine includes the practice of acupuncture, and other modalities, such as Tui Na (Chinese bodywork) and electrostimulation. It originated in China thousands of years ago and is now experiencing worldwide acceptance for general health and long term maintenance.

						p According to Chinese Medical theory human beings have a natural flow of energy throughout the body, referred to as Qi. Several thousand years ago, Chinese physicians determined that this energy circulates in pathways, called meridians. Good health depends on the smooth flow of energy throughout these pathways, and pain and disease are caused by an imbalance, deficiency, or blockage of this energy. Acupuncture uses the insertion of extremely fine needles into points along the pathways to help balance the body’s natural energy. Well-balanced and freely circulating energy returns the body to its innate vitality.

						strong How safe is acupuncture

						p Acupuncture is a very safe system of health care when done by a well-trained, licensed practitioner. All needles are sterile and used one time only. The risks of acupuncture are minimal and explained on the informed consent that you sign prior to treatment.

						strong What can I expect during a treatment

						p A treatment begins with an interview to gather information about signs and symptoms and also includes pulse readings and examination of the tongue. Needles are then inserted based on a diagnosis within the framework of Traditional Chinese Medicine. The needles are retained for about 20 minutes.

						p The needles produce some sensation, but generally not pain. Most clients feel very relaxed and even fall asleep when left with the needles and wake up refreshed and relaxed.

						p Visits generally last about one hour. Initial visits last longer. Treatments may include other therapies such as the use of electrostimulation, heat on acupuncture points, massage, and counseling on diet and lifestyle.

						p The number of treatments necessary varies according to the condition as well as the person. Acute conditions may respond with just a few treatments, while a chronic condition may require a longer series of treatments. Visits are usually scheduled one or two times per week.

						strong Is there anything I should do before or after a treatment

						p It’s best to wear comfortable, loose fitting clothes for your treatment, but if that’s not possible, we can provide you with proper draping. Be sure to have something to eat before your appointment, to avoid feeling light headed. In addition, alcohol may interfere with the effectiveness of your treatment, so you will want to avoid its use before or right after your appointment