extends layout

block content
	slick(ng-app="slider" infinite="true" slides-to-show="1" arrows="false" dots="true" autoplay="true" autoplaySpeed=2000 speed=500)
		div
			h3 1 One
		div
			h3 2 Two
		div
			h3 3 Three			
		div
			h3 4 Four

      
