extends layout

block content
		//slick(ng-app="slider" infinite="true" slides-to-show="1" arrows="false" dots="true" autoplay="true" autoplaySpeed=2000 speed=500)
		div(class="intro" id="greeting")
			h3 1 One
		div(class="intro" id="services")
			h3 2 Two
		
		div(class="intro" id="reviews")
			.review
				.author-info
					img(src="/images/no_img.png" alt="")
					p
					| Name: Unknown
					p 
					| Date: 12/06/14
				.review-text
					.rating
						span(class="review-score")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
					.text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque euismod pellentesque. Phasellus neque erat, dignissim quis bibendum eget, tincidunt ac justo. Sed facilisis, erat ut dictum elementum, leo felis lacinia lorem, nec venenatis lacus est in dui. Fusce mattis sollicitudin augue et efficitur. Donec vel dolor quis sapien congue posuere. Cras maximus erat ut risus consequat, sit amet pellentesque nunc tincidunt. Curabitur sed est sed turpis gravida convallis. Cras convallis eros ac urna finibus semper. Nullam consectetur purus at felis elementum, a auctor libero iaculis. Praesent neque diam, efficitur vitae leo vitae, vulputate volutpat tellus.
				.from
					a(href="https://www.yelp.com/biz/dialectic-healing-llc-denver" alt="Yelp Review")
						p Yelp.com review
			.review
				.author-info
					img(src="/images/no_img.png" alt="")
					p
					| Name: Unknown
					p 
					| Date: 12/06/14
				.review-text
					.rating
						span(class="review-score")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
					.text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque euismod pellentesque. Phasellus neque erat, dignissim quis bibendum eget, tincidunt ac justo. Sed facilisis, erat ut dictum elementum, leo felis lacinia lorem, nec venenatis lacus est in dui. Fusce mattis sollicitudin augue et efficitur. Donec vel dolor quis sapien congue posuere. Cras maximus erat ut risus consequat, sit amet pellentesque nunc tincidunt. Curabitur sed est sed turpis gravida convallis. Cras convallis eros ac urna finibus semper. Nullam consectetur purus at felis elementum, a auctor libero iaculis. Praesent neque diam, efficitur vitae leo vitae, vulputate volutpat tellus.
				.from
					a(href="https://www.yelp.com/biz/dialectic-healing-llc-denver" alt="Yelp Review")
						p Yelp.com review
			.review
				.author-info
					img(src="/images/no_img.png" alt="")
					p
					| Name: Unknown
					p 
					| Date: 12/06/14
				.review-text
					.rating
						span(class="review-score")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
					.text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque euismod pellentesque. Phasellus neque erat, dignissim quis bibendum eget, tincidunt ac justo. Sed facilisis, erat ut dictum elementum, leo felis lacinia lorem, nec venenatis lacus est in dui. Fusce mattis sollicitudin augue et efficitur. Donec vel dolor quis sapien congue posuere. Cras maximus erat ut risus consequat, sit amet pellentesque nunc tincidunt. Curabitur sed est sed turpis gravida convallis. Cras convallis eros ac urna finibus semper. Nullam consectetur purus at felis elementum, a auctor libero iaculis. Praesent neque diam, efficitur vitae leo vitae, vulputate volutpat tellus.
				.from
					a(href="https://www.yelp.com/biz/dialectic-healing-llc-denver" alt="Yelp Review")
						p Yelp.com review
			.review
				.author-info
					img(src="/images/no_img.png" alt="")
					p
					| Name: Unknown
					p 
					| Date: 12/06/14
				.review-text
					.rating
						span(class="review-score")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
					.text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque euismod pellentesque. Phasellus neque erat, dignissim quis bibendum eget, tincidunt ac justo. Sed facilisis, erat ut dictum elementum, leo felis lacinia lorem, nec venenatis lacus est in dui. Fusce mattis sollicitudin augue et efficitur. Donec vel dolor quis sapien congue posuere. Cras maximus erat ut risus consequat, sit amet pellentesque nunc tincidunt. Curabitur sed est sed turpis gravida convallis. Cras convallis eros ac urna finibus semper. Nullam consectetur purus at felis elementum, a auctor libero iaculis. Praesent neque diam, efficitur vitae leo vitae, vulputate volutpat tellus.
				.from
					a(href="https://www.yelp.com/biz/dialectic-healing-llc-denver" alt="Yelp Review")
						p Yelp.com review
			.review
				.author-info
					img(src="/images/no_img.png" alt="")
					p
					| Name: Unknown
					p 
					| Date: 12/06/14
				.review-text
					.rating
						span(class="review-score")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
					.text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque euismod pellentesque. Phasellus neque erat, dignissim quis bibendum eget, tincidunt ac justo. Sed facilisis, erat ut dictum elementum, leo felis lacinia lorem, nec venenatis lacus est in dui. Fusce mattis sollicitudin augue et efficitur. Donec vel dolor quis sapien congue posuere. Cras maximus erat ut risus consequat, sit amet pellentesque nunc tincidunt. Curabitur sed est sed turpis gravida convallis. Cras convallis eros ac urna finibus semper. Nullam consectetur purus at felis elementum, a auctor libero iaculis. Praesent neque diam, efficitur vitae leo vitae, vulputate volutpat tellus.
				.from
					a(href="https://www.yelp.com/biz/dialectic-healing-llc-denver" alt="Yelp Review")
						p Yelp.com review
			.review
				.author-info
					img(src="/images/no_img.png" alt="")
					p
					| Name: Unknown
					p 
					| Date: 12/06/14
				.review-text
					.rating
						span(class="review-score")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
							span(class ="glyphicon glyphicon-star filled")
					.text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pellentesque euismod pellentesque. Phasellus neque erat, dignissim quis bibendum eget, tincidunt ac justo. Sed facilisis, erat ut dictum elementum, leo felis lacinia lorem, nec venenatis lacus est in dui. Fusce mattis sollicitudin augue et efficitur. Donec vel dolor quis sapien congue posuere. Cras maximus erat ut risus consequat, sit amet pellentesque nunc tincidunt. Curabitur sed est sed turpis gravida convallis. Cras convallis eros ac urna finibus semper. Nullam consectetur purus at felis elementum, a auctor libero iaculis. Praesent neque diam, efficitur vitae leo vitae, vulputate volutpat tellus.
				.from
					a(href="https://www.yelp.com/biz/dialectic-healing-llc-denver" alt="Yelp Review")
						p Yelp.com review 

		div(class="intro" id="")
			h3 4 Four



