extends layout

block content
	slick(ng-app="slider" infinite="true" slides-to-show="1" arrows="false" dots="true" autoplay="true" autoplaySpeed=2000 speed=500)
		div(class="intro" id="greeting")
			h3 1 One
		div(class="intro" id="services")
			h3 2 Two
		div(class="intro" id="reviews")
			h3 3 Three			
		div(class="intro" id="")
			h3 4 Four



