@import 'partials/variables';
@import 'partials/mixins';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);

/*Override*/
.navbar-nav>li>.dropdown-menu {
	border-image: none;
	border: none;
	box-shadow: none;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    @include bottomRound(10px);
 }

.section .fa-times{
	position: absolute;
	top:10px;
	right:-30px;
	font-size: 2em;
	color: tomato;
	&:hover{
		cursor:pointer;
	}
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

	background: no-repeat center right fixed;
	@include linear-gradient(right, lighten($primary-green,15%), $secondary-beige);
	@include cover();
  
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/spa-treatments-to-try.png', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/spa-treatments-to-try.png', sizingMethod='scale');
  
  margin: 0px !important;
  padding: 0px !important;
}

a {
  color: #000000;
}
p {
  margin:0;
}

header, section, footer{
	float: none !important;
	margin: 1% 0;
}

.nav:not(.dropdown-menu) >.active >a:after{
    	content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100% !important;
	    border-bottom: 1px solid #333333;
}
.nav-brand{
	width: 30%;
	margin:10px auto;
	padding: 10px;
	text-align: center;
	float: none;
	img{
		width: 100%;
	}
}
.slicknav_menu{
	display: none;
}

#navigation{
	background-color: $white;

}

.nav{
	float:none;
	width: 50%;
	margin:5px auto;
	display: flex;

	li{
		margin:0 auto;
		padding:3px 12px 5px 12px;
		@include linkUnderline(#333333);
		background-color: $white;
		a{
			font-family: $secondary-font;
			&:hover, &:focus{
				background-color:rgba(0,0,0,0);
			}
			span{
				display: inline-block;
				font-size: 0.5em;
			}
		}
		&:hover{
			.dropdown-menu{
				background-color:rgba(0,0,0,0);
				display:block;
				box-shadow: none;
			}
		}
	}
}

.contact, .copy{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-family: "Helvetica", "Arial", sans-serif;
	letter-spacing: 1px;
	font-size: 1em;
	background-color: $white;
	p{
		margin:0;
	}
	a{
		display: inline-block;
	}
}
.contact p{
	margin-top:10px;
}
.copy p{
	margin-bottom: 10px;
}

/*Home Page*/
.slick-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 0px !important;
	div{
		cursor:pointer;
	}
	.slick-dots{
	bottom:5px;
		li{
			margin: 0 8px;
			button:before{
			font-size: 10px;
			color: darken($secondary-khaki,15%);
			}
		}

	}
}

.slick-dots li.slick-active button:before {
	color: darken($secondary-khaki,30%) !important;
}
.intro{
min-height: 484px;
float:left;
width: 100%;
@include containerGradient();
}




.welcome{
	width: 100%;
	margin:3% auto;
	height: auto;
	text-align: center;
	@include homeHeader();
	
	h3{
		@include thinHeader();
		text-align: center;
		margin: 0 0 2%;
	}

	a{
		display: block;
		width: 30%;
		margin: 6% auto 0;
		border-radius: 10px;
		h4{
			@include thinHeader();
			width: 100%;
			padding: 8%;
			background-color: lighten(tomato,25%);
			border: 1px solid darken(tomato,5%);
			transition: all 0.5s ease;
		}

		&:hover h4{
			background-color: lighten(tomato,15%);
			color: $white;
		}

		&:hover, &:focus{
			text-decoration: none;
			color: #000000;
		}

		
	}

	.text-holder{
		width: 70%;
		margin: 0 auto;
		text-align: center;
		color: #000000;
		h4{
			font-family: $primary-font;
			font-weight: 300;
			line-height: 1.2;
			color: #000000;
		}
	}
}

.service-intro-holder{
	width: 100%;
	margin: 3% auto;
	height: auto;
	@include homeHeader();
	.price-holder{
		width: 70%;
		margin:0 auto;
		.introduction{
			width: 100%;
			margin: 1% auto 0.5%;
			height: 120px;
			float: left;
			text-align: center;
			position: relative;
			clear: both;
			$color: $primary-brown;
			background-color: $accent-blue;
			border: 1px solid darken($accent-blue,8%);

			h2{
				@include thinHeader();
				margin-top:30px;
			}
			h4{
				@include thinHeader();
			}
		}
		.plan-container{
			width: 32.666667%;
			margin: 0.5% 0;
			height: 120px;
			float: left;
			text-align: center;
			position: relative;
			color:invert(lighten($primary-green,12%));
			background-color: lighten($primary-green,12%);
			border: 1px solid darken($primary-green,4%);
			h2,h4{
				@include thinHeader();
				
			}
			
			&:nth-child(2){
				margin-left:0;
			}
			&:nth-child(3){
				margin: 0.5% 1%;
			}
			&:nth-child(4){
				margin-right:0;
			}
		}
	}

}

.testimonials-holder{
	width: 100%;
	margin: 3% auto;
	height: auto;
	@include homeHeader();
		.grid{
			width: 90%;
			.grid-item{
				width: 48%;
				display: inline-block;
				background:none;
			}
			.index-testimonial{
				vertical-align: top;
			}
		}
}




/*About Page*/

.about-wrapper{

	h2{
		text-align: center;
		@include thinHeader();
	}

	.practitioner{
		@include containerGradient();
		border-radius: 10px;
		width: 98%;
		margin: 0 auto;
		h2{
			text-align: center;
			width: 100%;
			margin-bottom: 1%;
			@include thinHeader();
			display: block;
			float: left;
		}
		.about-practitioner{
		  width: 90%;
		  margin:0 auto;
		  padding: 3% 0 3% 0;

	  p{
	  	text-indent: 30px;
	  	text-align: justify;
	  	color:#000000;
	  }
	}

	.portrait-container{
	  width: 25%;
	  margin: 0 2% 2% 4%;
	  padding: 3% 0 3% 0;
	  height: auto;
	  float: left;
			  img{
			  	border-radius: 50%;
			  	border: 8px solid $primary-green;
			    width: 95%;
			    margin: 0 auto;
			    display: inline-block;
			  }
	  
		}
	}
}

.reviews, .grid{
	vertical-align: top;
	width: 100%;
	margin:1% auto;
	display: block;
	@include homeHeader();

	.grid-size, .review, .grid-item{
		width: 48%;
		margin: 1%;
		border-radius: 10px;
		padding: 1% 0;
		@include containerGradient();
		.author-info{
			margin-top: 6px;
			width: 29%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			img{
				width: 70%;
				display: block;
				margin: 0 auto;
				border-radius: 50%;
				border: 4px solid $primary-green;
			}
			.date{
			margin-top:4px;
			}
			.name{
				margin-top: 10px;
				color: darken($accent-blue,35%);
			}
		
			.rating{
				margin: 2% 0;
				text-align: center;
				.review-score{
					font-size: 18px;
					padding: 2px;
					margin-right: 2px;
					border:1px solid ‎#FFD700;
					color:#666666;
					.filled{
						color: tomato;
					}
					span {
						transition: all 0.5s ease;
					}
					&:hover span{
						margin-right: 3px;
						font-size: 19px;
						transition: all 0.5s ease;
					}
				}
			}

		}

		.review-text{
		width: 68%;
		margin: 0 0 0 2%;
		display: inline-block;
			.text {
						width: 90%;
						margin: 0 0 0 2%;
						display: inline-block;
				 	 p{
				 	 	width: 90%;
				 	 	display: block;
				 	 	margin: 0 auto;
				 	 }
					 p i{
					 	font-size: 10px;
					 }
				 }

			}
		
		}
	}

.grid-size{
	display: none;
}
		

@mixin threes(){
	width: 90%;
	margin: 1% auto;
	display: block;
}

/*FAQ page*/
.faq-wrapper{
	width: 100%;
	text-align: center;
	
	.initial-sections{
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 3% 0;
		float: left;
		border-radius: 10px;
		@include containerGradient();

		.button-block{
			width: 25%;
			height: auto;
			margin: 0 4.166% 2% 4.166%;
			display: inline-block;
			float: left;
			position: relative;
			button{
				position: relative;
				@include threes();
				border-radius: 50%;
				border: 8px solid $primary-green;
				background-color: #EEEEEE;
				margin-bottom: 1%;
				h2{
				width: 200px;
				position: absolute;
				@include thinHeader();
				font-size: 1.4em;
				font-weight: 400;
				color: $primary-brown;
				left: 15px;
				bottom: -50px;
				}
				&:focus{
					outline:none;
				}
				&:hover{
					background-color: darken($secondary-khaki,10%);
				}
			}
		}
	}
		#massage{
			background-image: url("/images/massage-s.jpg");
			background-repeat: no-repeat;
			@include cover();
		}
		#acupuncture{
			background-image: url("/images/acupuncture-s.jpg");
			background-repeat: no-repeat;
			@include cover();
		}
		#general{
			background-image: url("/images/waiting.jpg");
			background-repeat: no-repeat;
			@include cover();
		}
}

#overlay {
	background:rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	display: none;
	text-align: left;
	color:$primary-brown;
	overflow: visible;
	z-index: 997;
	.section-wrapper{
		width: 80%;
		position: relative;
		display: block;
		margin: 2% auto;
		background-color: $secondary-beige;
		border-radius: 15px;
		z-index: 998;
		.section{
			width: 90%;
			position: relative;
			margin:0 auto;
			padding: 3% 0;
			z-index: 999;
			strong{
			margin:2% 0;
			}
			p{
					margin:1% auto;
			}
		}
	}
}

/*Contact Page*/

.contact-wrapper{
	width: 100%;
	margin:0 auto;
	.email-holder, .contact-holder, .map-holder{
		position: relative;
		width: 32%;
		min-height: 350px;
		display: block;
		float: left;
		margin:1% 0.66667%;
	}
	.email-holder{
		form{
			width: 100%;
		}
		.box-style{
			width: 100%;
			display: block;
			padding: 18px 15px;
			margin-top: 0.5%;
			border:1px solid $secondary-beige;
			font-family: $primary-font;
			font-size: 1.2em;
			letter-spacing: 1px;
			transition:background-color 0.5s ease;
			background-color: $white;
			&:focus{
				outline:$primary-green;
				background-color:lighten($accent-blue,12%);
			}
		}
		input[type="submit"]{
			width: 100%;
			display: block;
			padding: 10px 10px;
			margin-top:1%;
			background-color:$primary-green;
		}
		.name,.phone{
			width: 49.75%;
			display: inline-block;
		}
		.name{
			border-top-left-radius: $form-radius;
		}
		.phone{
			border-top-right-radius: $form-radius;
			margin-left: 0.5%;
		}
		.message{
			min-width: 100%;
			max-width: 100%;
			height: 182px;
			border-bottom-left-radius: $form-radius;
			border-bottom-right-radius: $form-radius;
		}

	}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  
  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
	.contact-holder{
	background-color: $white;
	border-radius: $form-radius;
		.info{
			width: 100%;
			float: left;
			margin-bottom: 25px;
			#address{
				margin-top: 25px;
			}
			span {
				width: 100%;
				margin:1% auto;
				display: inline-block;
				text-align: left;
				font-family: $primary-font;

				h4{
					width: 80%;
					margin: 0 auto;
					@include thinHeader();
					font-weight: 400;
				}
				p{
					@include thinHeader();
					width: 80%;
					margin: 2px auto;
				}
				strong{
					@include thinHeader();
					font-weight: 400;
					margin: 2px 0;
				}
			}
		}
	}
}
	#map{
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		z-index: 0;	
		border:2px solid $secondary-beige;
		border-radius: $form-radius;
	}

@media screen and (max-width: 1118px){

.nav{
	width: 60%;
}
}

@media screen and(max-width: 797px){
.nav{
	width: 72%;
}

.contact-wrapper{
	.email-holder, .contact-holder, .map-holder{
			width: 48%;
			min-height: 350px;
			margin:1% 1%;
	}
}
}

@media screen and (max-width: 650px){
header,section,footer{
	width: 100%;
	margin: 0;
	padding: 0 !important;
}

.nav{
	display: none;
	span{
		display: none;
	}
}

.slicknav_menu{
	display: block;
	background-color: white;
	li{
		@include mobileMenuRadius(0px);
	}
}

.wrapper {
	width: 100%;
	padding: 0;
}
.nav-brand{
	width: 60%;
}

/*.slick-track[style] {
    width: 100% !important;
    transform: none !important;
}
.slick-slide[style] {
    display: block !important;
}*/

.contact-wrapper{
	.email-holder, .contact-holder, .map-holder{
			width: 100%;
			margin:1% auto;
			min-height: 300px;
			border-radius: 0px;
	}
	.email-holder{
		.name{
			border-top-left-radius:0px;
		}
		.phone{
			border-top-right-radius:0px;
		}
		.message{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

	}
	.map-holder{
		#map{
			border-radius: 0px;
		}
	}
}

}