@import 'partials/variables';
@import 'partials/mixins';
@import 'pages/home';
@import 'pages/services';
@import 'pages/about';
@import 'pages/faq';
@import 'pages/contact';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);

/*Override*/
.navbar-nav>li>.dropdown-menu {
	border-image: none;
	border: none;
	box-shadow: none;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    @include bottomRound(10px);
 }

.section .fa-times{
	position: absolute;
	top:10px;
	right:-30px;
	font-size: 2em;
	color: tomato;
	&:hover{
		cursor:pointer;
	}
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

	background: no-repeat center right fixed;
	@include linear-gradient(right, lighten($primary-green,15%), $secondary-beige);
	@include cover();
  
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/spa-treatments-to-try.png', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/spa-treatments-to-try.png', sizingMethod='scale');
  
  margin: 0px !important;
  padding: 0px !important;
}

a {
  color: #000000;
}
p {
  margin:0;
}

header, section, footer{
	float: none !important;
	margin: 1% 0;
}

.nav:not(.dropdown-menu) >.active >a:after{
    	content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100% !important;
	    border-bottom: 1px solid #333333;
}
.nav-brand{
	width: 30%;
	margin:10px auto;
	padding: 10px;
	text-align: center;
	float: none;
	img{
		width: 100%;
	}
}
.slicknav_menu{
	display: none;
}

#navigation{
	background-color: $white;
	padding-right: 0px;
}

.nav{
	float:none;
	width: 50%;
	margin:5px auto;
	display: flex;

	li{
		margin:0 auto;
		padding:3px 12px 5px 12px;
		@include linkUnderline(#333333);
		background-color: $white;
		a{
			font-family: $secondary-font;
			&:hover, &:focus{
				background-color:rgba(0,0,0,0);
			}
			span{
				display: inline-block;
				font-size: 0.5em;
			}
		}
		&:hover{
			.dropdown-menu{
				background-color:rgba(0,0,0,0);
				display:block;
				box-shadow: none;
			}
		}
	}
}

.contact, .copy{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	background-color: $white;
	p{
		margin:0;
	}
	a{
		display: inline-block;
	}
}
.contact p{
	margin-top:10px;
}
.copy p{
	margin-bottom: 10px;
}


@media screen and (max-width: 1118px){

.nav{
	width: 60%;
}
}

@media screen and(max-width: 797px){
.nav{
	width: 72%;
}

.contact-wrapper{
	.email-holder, .contact-holder, .map-holder{
			width: 48%;
			min-height: 350px;
			margin:1% 1%;
	}
}
}

@media screen and (max-width: 650px){
header,section,footer{
	width: auto;
	margin: 0;
	padding: 0 !important;
}

#navigation{
	width: 99vw;
}


.nav{
	display: none;
	span{
		display: none;
	}
}

.slicknav_menu{
	display: block;
	background-color: white;
	li{
		@include mobileMenuRadius(0px);
	}
}

.wrapper {
	width: 100%;
	padding: 0;
}
.nav-brand{
	width: 60%;
}


.contact-wrapper{
	.email-holder, .contact-holder, .map-holder{
			width: 100%;
			margin:1% auto;
			min-height: 300px;
			border-radius: 0px;
	}
	.email-holder{
		.name{
			border-top-left-radius:0px;
		}
		.phone{
			border-top-right-radius:0px;
		}
		.message{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

	}
	.map-holder{
		#map{
			border-radius: 0px;
		}
	}
}

}