@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);
@mixing gradientLinear($start,$stop) {
  /* Standard syntax */ }
.slick-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0px !important; }
  .slick-container div {
    cursor: pointer; }
  .slick-container .slick-dots {
    bottom: 5px; }
    .slick-container .slick-dots li {
      margin: 0 8px; }
      .slick-container .slick-dots li button:before {
        font-size: 10px;
        color: #c4b860; }

.slick-dots li.slick-active button:before {
  color: #9e923a !important; }

.intro {
  min-height: 484px;
  float: left;
  width: 100%;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }

.welcome {
  width: 100%;
  margin: 3% auto;
  height: auto;
  text-align: center; }
  .welcome h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 5% 0 1%;
    text-align: center; }
  .welcome h3 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 0 2%; }
  .welcome a {
    display: block;
    width: 30%;
    margin: 6% auto 0; }
    .welcome a h4 {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      width: 100%;
      padding: 8%;
      background-color: #ffcfc7;
      border: 1px solid #ff4d2e;
      border-radius: 25px;
      transition: all 0.5s ease; }
    .welcome a:hover h4 {
      background-color: #ffa494;
      color: #FFFFFF;
      font-weight: 400; }
    .welcome a:hover, .welcome a:focus {
      text-decoration: none;
      color: #000000; }
  .welcome .text-holder {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #000000; }
    .welcome .text-holder h4 {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      line-height: 1.2;
      color: #000000; }

.service-intro-holder {
  width: 100%;
  margin: 3% auto;
  height: auto; }
  .service-intro-holder h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 5% 0 1%;
    text-align: center; }
  .service-intro-holder .price-holder {
    width: 80%;
    margin: 0 auto;
    position: relative; }
    .service-intro-holder .price-holder .plan-container {
      width: 32.666667%;
      margin: 0.5% 0;
      height: 150px;
      float: left;
      text-align: center;
      position: relative;
      background-color: #bbd4b6;
      border: 1px solid #8bb582; }
      .service-intro-holder .price-holder .plan-container h2, .service-intro-holder .price-holder .plan-container h3, .service-intro-holder .price-holder .plan-container h4, .service-intro-holder .price-holder .plan-container p {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        display: block;
        color: #493d38;
        font-size: 1.3em;
        font-weight: 400; }
      .service-intro-holder .price-holder .plan-container h4 {
        width: 65px;
        margin: 15px auto;
        padding: 5px 0;
        border-radius: 20px;
        background-color: #FFFFFF;
        color: #442b49;
        font-weight: 300; }
      .service-intro-holder .price-holder .plan-container h3 {
        width: 200px;
        margin: 2px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #493d38;
        font-size: 1.1em; }
      .service-intro-holder .price-holder .plan-container p {
        width: 200px;
        margin: 2px auto;
        font-size: 1em; }
      .service-intro-holder .price-holder .plan-container:first-child {
        width: 100%;
        margin: 1% auto 0.5%;
        float: left;
        position: relative;
        clear: both;
        text-align: center;
        background-color: #C1D4E3;
        border: 1px solid #a5c1d6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px; }
      .service-intro-holder .price-holder .plan-container:nth-child(2) {
        margin-left: 0;
        border-bottom-left-radius: 25px; }
      .service-intro-holder .price-holder .plan-container:nth-child(3) {
        margin: 0.5% 1%; }
      .service-intro-holder .price-holder .plan-container:nth-child(4) {
        margin-right: 0;
        border-bottom-right-radius: 25px; }

.testimonials-holder {
  width: 100%;
  margin: 3% auto;
  height: auto; }
  .testimonials-holder h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 5% 0 1%;
    text-align: center; }
  .testimonials-holder .grid {
    width: 90%; }
    .testimonials-holder .grid .grid-item {
      width: 48%;
      display: inline-block;
      background: none; }
    .testimonials-holder .grid .index-testimonial {
      vertical-align: top; }

@media screen and (max-width: 1118px) {
  .testimonials-holder .grid .grid-item .author-info {
    width: 80%;
    display: block;
    margin: 0 auto;
    float: left; }
    .testimonials-holder .grid .grid-item .author-info img {
      width: 40%;
      margin-left: 10%;
      display: inline-block;
      float: left; }
    .testimonials-holder .grid .grid-item .author-info .name, .testimonials-holder .grid .grid-item .author-info .date, .testimonials-holder .grid .grid-item .author-info .rating {
      width: 50%;
      display: inline-block;
      float: right; }
  .testimonials-holder .grid .grid-item .review-text {
    width: 100%;
    display: block;
    margin: 15px auto;
    float: left; }
    .testimonials-holder .grid .grid-item .review-text .text {
      width: 100%;
      text-align: justify; } }
@media screen and (max-width: 797px) {
  .welcome a {
    width: 65%; }
    .welcome a h4 {
      padding: 5%; }

  .service-intro-holder .price-holder .plan-container h3 {
    width: 80%;
    padding-bottom: 1%; } }
@media screen and (max-width: 660px) {
  .intro {
    width: auto;
    margin: 1% 0; }

  .welcome a {
    width: 55%; }
  .welcome .text-holder {
    width: 90%; }

  .price-holder {
    width: 90% !important; }
    .price-holder .plan-container {
      width: 100% !important;
      margin: 1% auto !important;
      border-radius: 0px !important; }
      .price-holder .plan-container:nth-child(4) {
        margin-bottom: 30px !important; }

  .testimonials-holder h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 5% 0 1%;
    text-align: center; }
  .testimonials-holder .grid {
    width: 90%; }
    .testimonials-holder .grid .grid-item {
      width: 100%;
      margin: 5% 0;
      display: block;
      float: left; }
      .testimonials-holder .grid .grid-item .author-info {
        width: 50%;
        display: block;
        float: none;
        margin: 0 auto; }
        .testimonials-holder .grid .grid-item .author-info img {
          width: 50%;
          display: block;
          margin-left: 25%; }
        .testimonials-holder .grid .grid-item .author-info .name, .testimonials-holder .grid .grid-item .author-info .date, .testimonials-holder .grid .grid-item .author-info .rating {
          width: 100%;
          display: block;
          clear: both; }
      .testimonials-holder .grid .grid-item .review-text {
        width: 90%;
        display: block;
        margin: 0 auto;
        text-align: justify; }
        .testimonials-holder .grid .grid-item .review-text .text {
          width: 100%;
          margin-left: 5%; }
          .testimonials-holder .grid .grid-item .review-text .text p {
            display: block;
            width: 100% !important; } }
.services-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  float: left; }
  .services-container .massages {
    position: relative;
    width: 80%;
    margin: 0 auto;
    float: left;
    margin-left: 10%; }
  .services-container .price-holder {
    position: relative;
    width: 80%;
    margin: 0 auto;
    float: left;
    margin-left: 10%; }

.services {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative; }
  .services > li {
    min-height: 35px;
    margin: 0;
    text-align: center;
    width: 33.3333%;
    float: left;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }
    .services > li > p {
      padding: 5px 0 10px;
      font-size: 1.2em; }
      .services > li > p i {
        font-size: 0.7em;
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .services > li > p .down {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
      .services > li > p:nth-child(2) {
        float: right; }
    .services > li #acupuncture {
      float: left; }
    .services > li #massage {
      float: left;
      margin-left: -100%; }
    .services > li #combination {
      float: right; }
    .services > li ul {
      list-style: none;
      padding: 8px 0px 20px 40px;
      font-size: 0.9em;
      overflow: hidden;
      top: 40px;
      width: 300%;
      margin: 0 auto;
      border-top: 1px solid #6997bb;
      display: none;
      z-index: 1;
      background: white;
      background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
      background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }
      .services > li ul > li {
        position: relative;
        text-align: left;
        list-style: none;
        width: 80%; }
        .services > li ul > li p {
          padding: 3px 0; }
          .services > li ul > li p i {
            font-size: 0.7em;
            margin-right: 6px;
            color: #6997bb; }

.price-holder {
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .price-holder .plan-container {
    width: 32.666667%;
    margin: 0.5% 0;
    height: auto;
    float: left;
    text-align: center;
    position: relative;
    background-color: #bbd4b6;
    border: 1px solid #8bb582; }
    .price-holder .plan-container h2, .price-holder .plan-container h3, .price-holder .plan-container h4, .price-holder .plan-container p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      display: block;
      color: #493d38;
      font-size: 1.3em;
      font-weight: 400; }
    .price-holder .plan-container h4 {
      width: 65px;
      margin: 15px auto;
      padding: 5px 0;
      border-radius: 20px;
      background-color: #FFFFFF;
      color: #442b49;
      font-weight: 300; }
    .price-holder .plan-container h3 {
      width: 200px;
      margin: 2px auto;
      padding-bottom: 10px;
      border-bottom: 1px solid #493d38;
      font-size: 1.1em; }
    .price-holder .plan-container p {
      width: 200px;
      margin: 2px auto;
      font-size: 1em; }
    .price-holder .plan-container:first-child {
      width: 100%;
      margin: 1% auto 0.5%;
      float: left;
      position: relative;
      clear: both;
      text-align: center;
      background-color: #C1D4E3;
      border: 1px solid #a5c1d6;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px; }
    .price-holder .plan-container:nth-child(2) {
      margin-left: 0;
      border-bottom-left-radius: 25px; }
    .price-holder .plan-container:nth-child(3) {
      margin: 0.5% 1%; }
    .price-holder .plan-container:nth-child(4) {
      margin-right: 0;
      border-bottom-right-radius: 25px; }

.about-wrapper h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300; }
.about-wrapper .practitioner {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  border-radius: 10px;
  width: 98%;
  margin: 0 auto; }
  .about-wrapper .practitioner h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    display: block;
    float: left; }
  .about-wrapper .practitioner .about-practitioner {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0 3% 0; }
    .about-wrapper .practitioner .about-practitioner p {
      text-indent: 30px;
      text-align: justify;
      color: #000000; }
  .about-wrapper .practitioner .portrait-container {
    width: 25%;
    margin: 0 2% 2% 4%;
    padding: 3% 0 3% 0;
    height: auto;
    float: left; }
    .about-wrapper .practitioner .portrait-container img {
      border-radius: 50%;
      border: 8px solid #97BD8F;
      width: 95%;
      margin: 0 auto;
      display: inline-block; }

.reviews, .grid {
  vertical-align: top;
  width: 100%;
  margin: 1% auto;
  display: block; }
  .reviews h1, .grid h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 5% 0 1%;
    text-align: center; }
  .reviews .grid-size, .reviews .review, .reviews .grid-item, .grid .grid-size, .grid .review, .grid .grid-item {
    width: 48%;
    margin: 1%;
    border-radius: 10px;
    padding: 1% 0;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }
    .reviews .grid-size .author-info, .reviews .review .author-info, .reviews .grid-item .author-info, .grid .grid-size .author-info, .grid .review .author-info, .grid .grid-item .author-info {
      margin-top: 6px;
      width: 29%;
      display: inline-block;
      vertical-align: top;
      text-align: center; }
      .reviews .grid-size .author-info img, .reviews .review .author-info img, .reviews .grid-item .author-info img, .grid .grid-size .author-info img, .grid .review .author-info img, .grid .grid-item .author-info img {
        width: 70%;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        border: 4px solid #97BD8F; }
      .reviews .grid-size .author-info .date, .reviews .review .author-info .date, .reviews .grid-item .author-info .date, .grid .grid-size .author-info .date, .grid .review .author-info .date, .grid .grid-item .author-info .date {
        margin-top: 4px; }
      .reviews .grid-size .author-info .name, .reviews .review .author-info .name, .reviews .grid-item .author-info .name, .grid .grid-size .author-info .name, .grid .review .author-info .name, .grid .grid-item .author-info .name {
        margin-top: 10px;
        color: #4b7ea6; }
      .reviews .grid-size .author-info .rating, .reviews .review .author-info .rating, .reviews .grid-item .author-info .rating, .grid .grid-size .author-info .rating, .grid .review .author-info .rating, .grid .grid-item .author-info .rating {
        margin: 2% 0;
        text-align: center; }
        .reviews .grid-size .author-info .rating .review-score, .reviews .review .author-info .rating .review-score, .reviews .grid-item .author-info .rating .review-score, .grid .grid-size .author-info .rating .review-score, .grid .review .author-info .rating .review-score, .grid .grid-item .author-info .rating .review-score {
          font-size: 18px;
          padding: 2px;
          margin-right: 2px;
          border: 1px solid ΓÇÄ #FFD700;
          color: #666666; }
          .reviews .grid-size .author-info .rating .review-score .filled, .reviews .review .author-info .rating .review-score .filled, .reviews .grid-item .author-info .rating .review-score .filled, .grid .grid-size .author-info .rating .review-score .filled, .grid .review .author-info .rating .review-score .filled, .grid .grid-item .author-info .rating .review-score .filled {
            color: tomato; }
          .reviews .grid-size .author-info .rating .review-score span, .reviews .review .author-info .rating .review-score span, .reviews .grid-item .author-info .rating .review-score span, .grid .grid-size .author-info .rating .review-score span, .grid .review .author-info .rating .review-score span, .grid .grid-item .author-info .rating .review-score span {
            transition: all 0.5s ease; }
          .reviews .grid-size .author-info .rating .review-score:hover span, .reviews .review .author-info .rating .review-score:hover span, .reviews .grid-item .author-info .rating .review-score:hover span, .grid .grid-size .author-info .rating .review-score:hover span, .grid .review .author-info .rating .review-score:hover span, .grid .grid-item .author-info .rating .review-score:hover span {
            margin-right: 3px;
            font-size: 19px;
            transition: all 0.5s ease; }
    .reviews .grid-size .review-text, .reviews .review .review-text, .reviews .grid-item .review-text, .grid .grid-size .review-text, .grid .review .review-text, .grid .grid-item .review-text {
      width: 68%;
      margin: 0 0 0 2%;
      display: inline-block; }
      .reviews .grid-size .review-text .text, .reviews .review .review-text .text, .reviews .grid-item .review-text .text, .grid .grid-size .review-text .text, .grid .review .review-text .text, .grid .grid-item .review-text .text {
        width: 90%;
        margin: 0 0 0 2%;
        display: inline-block; }
        .reviews .grid-size .review-text .text p, .reviews .review .review-text .text p, .reviews .grid-item .review-text .text p, .grid .grid-size .review-text .text p, .grid .review .review-text .text p, .grid .grid-item .review-text .text p {
          width: 90%;
          display: block;
          margin: 0 auto; }
        .reviews .grid-size .review-text .text p i, .reviews .review .review-text .text p i, .reviews .grid-item .review-text .text p i, .grid .grid-size .review-text .text p i, .grid .review .review-text .text p i, .grid .grid-item .review-text .text p i {
          font-size: 10px; }

.grid-size {
  display: none; }

.faq-wrapper {
  width: 100%;
  text-align: center; }
  .faq-wrapper .initial-sections {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3% 0;
    float: left;
    border-radius: 10px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }
    .faq-wrapper .initial-sections .button-block {
      width: 25%;
      height: auto;
      margin: 0 4.166% 2% 4.166%;
      display: inline-block;
      float: left;
      position: relative; }
      .faq-wrapper .initial-sections .button-block button {
        position: relative;
        width: 90%;
        margin: 1% auto;
        display: block;
        border-radius: 50%;
        border: 8px solid #97BD8F;
        background-color: #EEEEEE;
        margin-bottom: 1%; }
        .faq-wrapper .initial-sections .button-block button h2 {
          width: 200px;
          position: absolute;
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-size: 1.4em;
          font-weight: 400;
          color: #66554E;
          left: 15px;
          bottom: -50px; }
        .faq-wrapper .initial-sections .button-block button:focus {
          outline: none; }
        .faq-wrapper .initial-sections .button-block button:hover {
          background-color: #cbc073; }
  .faq-wrapper #massage {
    background-image: url("/images/massage-s.jpg");
    background-repeat: no-repeat;
    -webkit-backgroun-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .faq-wrapper #acupuncture {
    background-image: url("/images/acupuncture-s.jpg");
    background-repeat: no-repeat;
    -webkit-backgroun-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .faq-wrapper #general {
    background-image: url("/images/waiting.jpg");
    background-repeat: no-repeat;
    -webkit-backgroun-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: left;
  color: #66554E;
  overflow: visible;
  z-index: 997; }
  #overlay .section-wrapper {
    width: 80%;
    position: relative;
    display: block;
    margin: 2% auto;
    background-color: #FFFCD6;
    border-radius: 15px;
    z-index: 998; }
    #overlay .section-wrapper .section {
      width: 90%;
      position: relative;
      margin: 0 auto;
      padding: 3% 0;
      z-index: 999; }
      #overlay .section-wrapper .section strong {
        margin: 2% 0; }
      #overlay .section-wrapper .section p {
        margin: 1% auto; }

.contact-wrapper {
  width: 100%;
  margin: 0 auto; }
  .contact-wrapper .email-holder, .contact-wrapper .contact-holder, .contact-wrapper .map-holder {
    position: relative;
    width: 32%;
    min-height: 350px;
    display: block;
    float: left;
    margin: 1% 0.66667%; }
  .contact-wrapper .email-holder form {
    width: 100%; }
  .contact-wrapper .email-holder .box-style {
    width: 100%;
    display: block;
    padding: 18px 15px;
    margin-top: 0.5%;
    border: 1px solid #FFFCD6;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    background-color: #FFFFFF; }
    .contact-wrapper .email-holder .box-style:focus {
      outline: #97BD8F;
      background-color: #ebf1f6; }
  .contact-wrapper .email-holder input[type="submit"] {
    width: 100%;
    display: block;
    padding: 10px 10px;
    margin-top: 1%;
    background-color: #97BD8F; }
  .contact-wrapper .email-holder .name, .contact-wrapper .email-holder .phone {
    width: 49.75%;
    display: inline-block; }
  .contact-wrapper .email-holder .name {
    border-top-left-radius: 15px; }
  .contact-wrapper .email-holder .phone {
    border-top-right-radius: 15px;
    margin-left: 0.5%; }
  .contact-wrapper .email-holder .message {
    min-width: 100%;
    max-width: 100%;
    height: 182px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .contact-wrapper .btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle; }
    @media (min-width: 400px) {
      .contact-wrapper .btn {
        display: inline-block;
        margin-right: 2.5em; }
        .contact-wrapper .btn:nth-of-type(even) {
          margin-right: 0; } }
    @media (min-width: 600px) {
      .contact-wrapper .btn:nth-of-type(even) {
        margin-right: 2.5em; }
      .contact-wrapper .btn:nth-of-type(5) {
        margin-right: 0; } }
    .contact-wrapper .btn:hover {
      text-decoration: none; }
  .contact-wrapper .btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); }
  .contact-wrapper .btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; }
  .contact-wrapper .contact-holder {
    background-color: #FFFFFF;
    border-radius: 15px; }
    .contact-wrapper .contact-holder .info {
      width: 100%;
      float: left;
      margin-bottom: 25px; }
      .contact-wrapper .contact-holder .info #address {
        margin-top: 25px; }
      .contact-wrapper .contact-holder .info span {
        width: 100%;
        margin: 1% auto;
        display: inline-block;
        text-align: left;
        font-family: "Lato", sans-serif; }
        .contact-wrapper .contact-holder .info span h4 {
          width: 80%;
          margin: 0 auto;
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-weight: 400; }
        .contact-wrapper .contact-holder .info span p {
          font-family: "Lato", sans-serif;
          font-weight: 300;
          width: 80%;
          margin: 2px auto; }
        .contact-wrapper .contact-holder .info span strong {
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-weight: 400;
          margin: 2px 0; }

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border: 2px solid #FFFCD6;
  border-radius: 15px; }

/*Override*/
.navbar-nav > li > .dropdown-menu {
  border-image: none;
  border: none;
  box-shadow: none;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.section .fa-times {
  position: absolute;
  top: 10px;
  right: -30px;
  font-size: 2em;
  color: tomato; }
  .section .fa-times:hover {
    cursor: pointer; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: no-repeat center right fixed;
  background-color: #c4d9bf;
  background: #c4d9bf, #FFFCD6;
  /* For browsers that do not support gradients */
  background: -o-linear-gradient(right, #c4d9bf, #FFFCD6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #c4d9bf, #FFFCD6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #c4d9bf, #FFFCD6);
  -webkit-backgroun-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/spa-treatments-to-try.png', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/spa-treatments-to-try.png', sizingMethod='scale');
  margin: 0px !important;
  padding: 0px !important; }

a {
  color: #000000; }

p {
  margin: 0; }

header, section, footer {
  float: none !important;
  margin: 1% 0; }

.nav:not(.dropdown-menu) > .active > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  border-bottom: 1px solid #333333; }

.nav-brand {
  width: 30%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  float: none; }
  .nav-brand img {
    width: 100%; }

.slicknav_menu {
  display: none; }

#navigation {
  background-color: #FFFFFF;
  padding-right: 0px; }

.nav {
  float: none;
  width: 50%;
  margin: 5px auto;
  display: flex; }
  .nav li {
    margin: 0 auto;
    padding: 3px 12px 5px 12px;
    background-color: #FFFFFF; }
    .nav li a {
      text-decoration: none;
      position: relative;
      color: #333333;
      padding: 3px 8px 4px 8px; }
      .nav li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid #333333;
        transition: 0.4s; }
      .nav li a:hover:after {
        width: 100%; }
    .nav li a {
      font-family: "Helvetica", "Arial", sans-serif; }
      .nav li a:hover, .nav li a:focus {
        background-color: transparent; }
      .nav li a span {
        display: inline-block;
        font-size: 0.5em; }
    .nav li:hover .dropdown-menu {
      background-color: transparent;
      display: block;
      box-shadow: none; }

.contact, .copy {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  background-color: #FFFFFF; }
  .contact p, .copy p {
    margin: 0; }
  .contact a, .copy a {
    display: inline-block; }

.contact p {
  margin-top: 10px; }

.copy p {
  margin-bottom: 10px; }

@media screen and (max-width: 1118px) {
  .nav {
    width: 60%; } }
@media screen and (max-width: 797px) {
  .nav {
    width: 72%; }

  .contact-wrapper .email-holder, .contact-wrapper .contact-holder, .contact-wrapper .map-holder {
    width: 48%;
    min-height: 350px;
    margin: 1% 1%; } }
@media screen and (max-width: 650px) {
  header, section, footer {
    width: auto;
    margin: 0;
    padding: 0 !important; }

  #navigation {
    width: 99vw; }

  .nav {
    display: none; }
    .nav span {
      display: none; }

  .slicknav_menu {
    display: block;
    background-color: white; }
    .slicknav_menu li a {
      color: #666666; }
      .slicknav_menu li a:hover {
        border-radius: 0px; }
    .slicknav_menu li a.slicknav_item:hover {
      border-radius: 0px; }

  .wrapper {
    width: 100%;
    padding: 0; }

  .nav-brand {
    width: 60%; }

  .contact-wrapper .email-holder, .contact-wrapper .contact-holder, .contact-wrapper .map-holder {
    width: 100%;
    margin: 1% auto;
    min-height: 300px;
    border-radius: 0px; }
  .contact-wrapper .email-holder .name {
    border-top-left-radius: 0px; }
  .contact-wrapper .email-holder .phone {
    border-top-right-radius: 0px; }
  .contact-wrapper .email-holder .message {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  .contact-wrapper .map-holder #map {
    border-radius: 0px; } }

/*# sourceMappingURL=style.css.map */
