@mixin linkUnderline($color){
a {
  text-decoration: none;
  position: relative;
  color: $color;
  padding:3px 8px 4px 8px;
	  &:after{
	  	content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 0%;
	    border-bottom: 1px solid $color;
	    transition: 0.4s;
	  }
	  &:hover:after{
  		width: 100%;
	  }
	}
}

@mixin mobileMenuRadius($radius){
	a{
		color:#666666;
		&:hover{
			border-radius:$radius;
		}
	}
	a.slicknav_item:hover{
		border-radius:$radius;
	}
}

@mixin rotate($degree){
	-ms-transform:rotate($degree);
    -moz-transform:rotate($degree);
    -webkit-transform:rotate($degree);
    transform:rotate($degree);
}

@mixin transitionLinear($speed){
	-moz-transition: all $speed linear;
    -webkit-transition: all $speed linear;
    transition: all $speed linear;
}

@mixin contentWrapper(){
	width: 100%;
	margin: 1% auto;
}

@mixin homeHeader(){
	h1{
		font-family: $primary-font;
		font-weight: 300;
		margin: 5% 0 1%;
		text-align: center;
	}
}

@mixin thinHeader(){
	font-family: $primary-font;
	font-weight: 300;
}

@mixin backdrop(){
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
}

@mixin cover(){
	-webkit-backgroun-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixing gradientLinear($start,$stop){
 /* Standard syntax */
}

@mixin linear-gradient($direction, $gradients...) {
  	background-color: nth($gradients, 1);
	background: $gradients; /* For browsers that do not support gradients */
	background: -o-linear-gradient($direction, $gradients...); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($direction, $gradients...); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to $direction, $gradients...);
}

@mixin containerGradient(){
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

@mixin bottomRound($radius){
	border-bottom-right-radius:$radius;
	border-bottom-left-radius:$radius;
}

@mixin serviceBlock($height){
	.price-holder{
		width: 80%;
		margin:0 auto;
		position: relative;
		.plan-container{
			width: 32.666667%;
			margin: 0.5% 0;
			height: $height;
			float: left;
			text-align: center;
			position: relative;
			background-color: lighten($primary-green,12%);
			border: 1px solid darken($primary-green,4%);
			h2,h3,h4,p{
				@include thinHeader();
				display: block;
				color:$white;
				font-size: 1.3em;
				font-weight: 400;
			}
			h4{
				width: 65px;
				margin:15px auto;
				padding: 5px 0;
				border-radius: 20px;
				background-color: $white;
				color:invert(lighten($primary-green,12%));
				font-weight: 300;
			}
			h3{
				width: 200px;
				margin: 2px auto;
				padding-bottom: 10px;
				border-bottom: 1px solid $white;
				font-size: 1.1em;
			}
			p{
				width: 200px;
				margin: 2px auto;
				font-size: 1em;
			}
			&:first-child{
				width: 100%;
				margin: 1% auto 0.5%;
				float: left;
				position: relative;
				clear: both;
				text-align: center;
				$color: $primary-brown;
				background-color: $accent-blue;
				border: 1px solid darken($accent-blue,8%);
				border-top-right-radius: 25px;
				border-top-left-radius: 25px;
			}
			
			&:nth-child(2){
				margin-left:0;
				border-bottom-left-radius: 25px;
			}
			&:nth-child(3){
				margin: 0.5% 1%;
			}
			&:nth-child(4){
				margin-right:0;
				border-bottom-right-radius: 25px;
			}
		}
	}
}