$white: #FFFFFF;
$primary-brown: #66554E;
$primary-purple: #44336f;
$secondary-purple: lighten($primary-purple,32%);
$deep-blue: #2b51a0;
$primary-green: #97BD8F;
$secondary-khaki: #D9D198;
$secondary-beige: #FFFCD6;
$accent-blue: #C1D4E3;
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Helvetica','Arial',sans-serif;
$form-radius: 15px;